sudo: required

language: python 

services:
  - mysql
  - docker

before_install:
  - docker pull craigrhodes/fs_site

script:
  - docker run -e "FS_PORT=8000" -v "$(pwd):/usr/src/fs_site" -p 8000:8000 craigrhodes/fs_site ./docker_test.sh
